 <!--messages before loading and if a observable has an error?-->
 <div *ngIf="refreshing; then thenBlock"></div>
 <!--if else blocks, their positon is irrelevant as they will be put in the div above-->
 <ng-template #thenBlock>
    <div>Fetching data</div>
    </ng-template>

    <div *ngIf="hasError; then thenErrorBlock"></div>
 <!--if else blocks, their positon is irrelevant as they will be put in the div above-->
 <ng-template #thenErrorBlock>
    <h2 style="color:red">wrong</h2>
    </ng-template>


  <!--in between the [] is the name of varaible prefixed by @input-->
  <!--let book of ....after the of should be the name of the variable in the parent which is the array....and it's not book-list but _books-->

  <!-- in between the "" is the name of the variable you are inputting which has been created by the ngfor which is let book.....therefore book-->
  <table style="width:100%">

     <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Img</th>
        <th>Release</th>
        <th> version</th>
      </tr>
  <app-book *ngFor="let book of _books" [book]="book"></app-book>
</table>
